<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KozasAnt.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <KozasAnt.Client.Properties.Settings>
            <setting name="TrailDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinCohorts" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MaxCohorts" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MaxSteps" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Population" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxTreeDepth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MutationRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PercentToKeep" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MetGoalsTarget" serializeAs="String">
                <value>25</value>
            </setting>
        </KozasAnt.Client.Properties.Settings>
    </applicationSettings>
</configuration>
